form{
    padding: 16px 0;
    input
    {
        border:1px solid #ccc;
        border-radius: 3px;
        margin-bottom: 8px;
        padding: 8px 4px; 
        display: block;
        width: 100%;
    }
    button
    {
        background:  #8d00ff;
        border-radius: 3px;
        color: #fff;
        height: 42px;
        display: block;
        width: 100%;
        text-align: center;
    }
}